---
import RuleEmbed from "@/components/markdown/RuleEmbed.astro";
import { FormattedField } from "@/components/markdown/RuleFormattedField";
import { getCollection, type CollectionEntry } from "astro:content";
import DocPageLayout from "../../layouts/DocPageLayout.astro";
import {
  ruleDataKeyDetailsDictionary,
  ruleDataKeyDictionary,
  type RuleFields,
} from "@/content/config";
import { getAutoDescription } from "@/utils/getAutoDescription.ts";

export async function getStaticPaths() {
  const ruleEntries: CollectionEntry<"rules">[] = await getCollection("rules");
  const paths = [];

  for (const entry of ruleEntries) {
    paths.push({
      params: {
        slug: entry.slug,
      },
      props: { entry },
    });
  }

  return paths;
}

const { entry } = Astro.props;
const { headings } = await entry.render();

headings.push({ depth: 2, slug: "metadata", text: "Metadata" });

let content;
if (entry.data.excerpt) {
  content = await entry.render();
}
const description = await getAutoDescription(entry.data.excerpt || entry.body);
---

<DocPageLayout
  frontmatter={{
    ...entry.data,
    title: `Rule: ${entry.data.name}`,
    description,
  }}
  headings={headings}
  filePath={"src/content/rules/" + entry.id}
  pagePath={"rules/" + entry.slug}
>
  <RuleEmbed rule={entry} fields={"All"} />

  {content && <content.Content />}

  <section id="metadata">
    <h2>Metadata</h2>

    <table class="metadata-table">
      <tbody>
        {
          Object.entries(entry.data).map(([fieldKey, fieldValue]) => {
            if (["excerpt"].includes(fieldKey)) return;
            return (
              <tr>
                <th
                  class="field-name"
                  title={ruleDataKeyDetailsDictionary[fieldKey]}
                >
                  {ruleDataKeyDictionary[fieldKey] || fieldKey}:
                </th>
                <td class="field-value">
                  <FormattedField
                    fieldKey={fieldKey as RuleFields}
                    fieldValue={fieldValue}
                  />
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </section>
</DocPageLayout>
