---
import RuleEmbed from "@/components/markdown/RuleEmbed.astro";
import { type EntryType, type RuleFields } from "@/content/config";
import { getCollection, type CollectionEntry } from "astro:content";
import DocPageLayout from "../../layouts/DocPageLayout.astro";
import { BoxGroup } from "@/components/Box.tsx";

let rules: CollectionEntry<"rules">[] = await getCollection("rules");

interface Props {
  entryType: EntryType;
  ruleContext?: string;
  fields?: RuleFields[] | "All";
}

const { entryType, ruleContext, fields } = Astro.props;

if (entryType !== "All") {
  rules = rules.filter((rule) => {
    const ruleEntryType = rule.data.entry_type;

    if (ruleEntryType === "All") {
      return true;
    }

    if (Array.isArray(ruleEntryType)) {
      return ruleEntryType.includes(entryType);
    }

    return false;
  });
}

if (ruleContext) {
  rules = rules.filter((rule) => rule.data.rule_context === ruleContext);
}

const pageTitle =
  entryType === "All" ? "All rules" : `All rules for ${entryType}`;

rules.sort((a, b) => a.data.id - b.data.id);

const rulesForDraft = rules.filter(
  (rule) => rule.data.entry_status === "Draft",
);
const rulesForFinished = rules.filter(
  (rule) => rule.data.entry_status === "Finished",
);
const rulesForApproved = rules.filter(
  (rule) => rule.data.entry_status === "Approved",
);
---

<DocPageLayout
  frontmatter={{ title: pageTitle }}
  headings={[
    { depth: 2, slug: "draft", text: "Draft +" },
    { depth: 2, slug: "finished", text: "Finished +" },
    { depth: 2, slug: "approved", text: "Approved" },
  ]}
  pagefindIgnore={true}
>
  <section id="draft">
    <h2>Draft+ entries</h2>
    <BoxGroup>
      {rulesForDraft.map((rule) => <RuleEmbed rule={rule} fields={fields} />)}
    </BoxGroup>
  </section>

  <section id="finished">
    <h2>Finished+ entries</h2>
    <BoxGroup>
      {
        rulesForFinished.map((rule) => (
          <RuleEmbed rule={rule} fields={fields} />
        ))
      }
    </BoxGroup>
  </section>

  <section id="approved">
    <h2>Approved entries</h2>
    <BoxGroup>
      {
        rulesForApproved.map((rule) => (
          <RuleEmbed rule={rule} fields={fields} />
        ))
      }
    </BoxGroup>
  </section>
</DocPageLayout>
