---
import { getEntry } from "astro:content";

interface Props {
  rule: string;
  showFull?: boolean;
}

const { rule: ruleName, showFull = false } = Astro.props;

const ruleEntry = await getEntry("rules", ruleName);
const ruleData = ruleEntry?.data;
if (!ruleData) return;

---

{
  (
    <div class="rounded-xl border shadow p-6">
      <div>
        <h3 class="mt-0">
          Rule: 
          <a href={`/rules/${ruleEntry.slug}`}> {ruleData.name}</a>
          (id={ruleData.id})
        </h3>
        {ruleData.status == "Deprecated" && (
          <p class="text-red-500">
            ⚠️ This rule has been deprecated{" "}
            {ruleData.date_modified && `(${ruleData.date_modified})`}
          </p>
        )}
        {showFull && (
          <>
            <span>
              (Applies to all{" "}
              <em>
                {ruleData.entry_status !== "Draft" &&
                  ruleData.entry_status.toLowerCase()}
              </em>{" "}
              {ruleData.entry_type !== "All" &&
                ruleData.entry_type
                  .map(str => str.toLowerCase().replace(/s$/, ""))
                  .join(" & ")}{" "}
              entries)
            </span>
            {ruleData.rationale && (
              <p>
                Rationale: <i>{ruleData.rationale}</i>
              </p>
            )}
            {ruleData.date_created && (
              <p>Rule created {ruleData.date_created}</p>
            )}
            {ruleData.fe_validations && (
              <p>
                Frontend validation with:{" "}
                <a
                  href={`https://github.com/search?type=code&q=repo%3AVocaDB%2Fvocadb+Validation+${ruleData.fe_validations}`}>
                  {ruleData.fe_validations}
                </a>
              </p>
            )}
            {(ruleData.occurance ?? 0) > 0 && (
              <p>
                ~{ruleData.occurance} affected entries
                {ruleData.edit_list && (
                  <span>
                    : <a href={ruleData.edit_list}>Edit list</a>
                    generated {ruleData.date_checked}
                  </span>
                )}
              </p>
            )}
          </>
        )}
      </div>
    </div>
  )
}
