---
import { ruleDataKeyDictionary, ruleDataKeyDetailsDictionary } from "@/content/config";
import { getCollection, type CollectionEntry } from "astro:content";
import { FormattedField } from "./RuleFormattedField.tsx";

const ruleEntries: CollectionEntry<"rules">[] = await getCollection("rules");
const ISO_date = (date: Date): string => {
  return date.toISOString().split("T")[0];
};
---

<div class="table-container">
  <table class="rule-table sortable">
    <thead>
      <tr>
        {
          [
            'id',
            '_date',
            'name',
            'entry_type',
            'entry_status',
            'rule_context',
            'relevant_tag_id',
            'mikumod_support',
            'complete_validation',
            'automatically_fixed',
            'edit_list',
          ].map(key => <th title={ruleDataKeyDetailsDictionary[key]}>{ruleDataKeyDictionary[key]}</th>)
        }
      </tr>
    </thead>
    <tbody>
      {
        ruleEntries
          .filter(rule => rule.data.status === "Active")
          .sort((a, b) => a.data.id - b.data.id)
          .map((rule, slug) => (
            <tr>
              <td>{rule.data.id}</td>
              <td>
                {(rule.data.date_modified &&
                  ISO_date(rule.data.date_modified)) ||
                  (rule.data.date_created && ISO_date(rule.data.date_created))}
              </td>
              <td class="rule-name">
                <a href={`/rules/${rule.slug}`}>{rule.data.name}</a>
              </td>
              {
                ([
                  'entry_type',
                  'entry_status',
                  'rule_context',
                  'relevant_tag_id',
                  'mikumod_support',
                  'complete_validation',
                  'automatically_fixed',
                  'edit_list',
                ] as const).map(key => (
                  <td>
                    <FormattedField fKey={key} value={rule.data[key]} short={true} />
                  </td>
                ))
              }
            </tr>
          ))
      }
    </tbody>
  </table>
</div>
