---
import type { MarkdownHeading } from "astro";
import Layout from "./Base.astro";
import { TagsDisplay } from "@/components/TagsDisplay";
import { ScrollArea } from "@/components/ui/scroll-area";
import { generateToC } from "@/utils/generateToC.ts";
import TableOfContentsList from "@/components/;TableOfContentsList.astro"

export interface Props {
  headings?: MarkdownHeading[];
  frontmatter?: any;
  title?: string;
  description?: string;
}

const { frontmatter = {}, headings } = Astro.props;

let toc = null;

if (headings && headings.length > 0)
  toc = generateToC(headings, {
    minHeadingLevel: 2,
    maxHeadingLevel: 4
  })

const title = Astro.props?.title ?? frontmatter?.title;
const description = Astro.props?.description ?? frontmatter?.description;
---

<Layout title={title} description={description}>
  <main class="relative xl:grid xl:grid-cols-[1fr_300px] gap-10">
    <article data-pagefind-body class="prose dark:prose-invert max-w-none min-w-0">
      <header class="mb-8">
        <h1>{title}</h1>
        <TagsDisplay tags={frontmatter.tags ?? []} />
        {
          toc && (
            <details class="not-prose xl:hidden rounded-xl border shadow mb-4 bg-card">
              <summary class="font-semibold tracking-tight m-2 mx-4">On this page</summary>
              <div class="my-2">
                <TableOfContentsList isMobile={true} toc={toc} />
              </div>
            </details>
          )
        }
      </header>
      <slot />
    </article>

    {
      toc && (
        <div class="hidden xl:block text-sm sticky top-16 h-[calc(100vh-4rem)] -my-6">
          <ScrollArea className="h-full" client:visible>
            <div class="py-6">
              <p class="font-semibold mb-2 mx-2">On this page</p>
              <TableOfContentsList track={true} toc={toc} />
            </div>
          </ScrollArea>
        </div>
      )
    }
  </main>
</Layout>
